<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <header>
    <h1>GeekShop</h1>
  </header>
  <main>
    <div id="app">
      <div id="modal-container" v-bind:class="modalState">      
        <div class="modal-content"> 
          <button class="close" v-on:click="closeModal">Закрыть</button>
          <input type="text" v-model="cartSearchLine">
          <button v-on:click="cartFilter">Поиск</button>
          <cart-list v-bind:carts="filteredCarts"></cart-list> 
        </div>
      </div>
      <div class="showcase">
        <button class='cart' v-on:click="openModal">Просмотр корзины</button>
        <input type="text" v-model="searchLine">
        <button v-on:click="productFilter">Поиск</button>
        <products-list v-bind:products="filteredProducts"></products-list>
      </div>
   </div>
  </main>
  <footer>
    <p>2021 &copy;</p>
  </footer>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</body>
</html>